.catalog {
  max-width: 1250px;
  padding: 85px 45px 120px;
  font-family: $ff-montserrat;
  font-style: normal;

  h2 {
    margin: 0;
    margin-bottom: 49px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: $color-tangaroa;
    text-align: center;

    @media (max-width: $tablet-width) {
      font-size: 26px;
      line-height: 39px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 36px;
    }
  }

  @media (max-width: $tablet-width) {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 57px;
    padding-bottom: 65px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0 15px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 30px;

  @media (max-width: $small-desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    padding: 0 10px;
    gap: 30px;
  }
}

.catalog__image-wrapper {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

.catalog__item-content {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  place-self: end stretch;
  padding: 29px 30px 23px;
  color: $color-alice-blue;

  @media (max-width: $tablet-width) {
    padding: 29px 35px 27px;
  }

  @media (max-width: $mobile-width) {
    padding: 27px 25px 17px;
  }
}

.catalog__item-description {
  h3 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  dl {
    margin: 0;
    display: none;
  }
}

.catalog__link {
  user-select: none;
  width: 100%;
  display: none;
  padding: 9px 25px;
  background-color: $color-alice-blue;
  color: $color-tangaroa;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.catalog__item {
  min-height: 386px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: $color-tangaroa;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &:hover,
  &:focus,
  &:focus-within {
    outline: none;
    box-shadow: 0 0 25px $color-tangaroa;

    .catalog__item-content {
      padding: 27px 25px 23px;
      place-self: start stretch;
      box-sizing: border-box;
      height: 100%;
      background-color: $color-tangaroa;

      @media (max-width: $tablet-width) {
        padding-left: 36px;
        padding-right: 36px;
      }

      @media (max-width: $mobile-width) {
        padding-left: 25px;
        padding-right: 25px;
        display: grid;
        grid-template-columns: 1fr;
      }
    }

    .catalog__item-description {
      height: 270px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      @media (max-width: $tablet-width) {
        height: 270px;
      }
    }

    h3 {
      margin-bottom: 15px;
    }

    dl {
      display: block;
    }

    dt {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }

    dd {
      margin: 0;
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $color-quartz;
    }

    .catalog__link {
      margin-top: 13px;
      display: inline-block;

      &:hover {
        box-shadow: 0 0 12px $color-alice-blue;
      }

      &:focus-visible {
        outline-color: $color-summer-sky;
        box-shadow: 0 0 12px $color-alice-blue;
        border-radius: 3px;
      }

      &:active {
        border-radius: 3px;
        background-color: $color-summer-sky;
        color: $color-alice-blue;
      }

      @media (max-width: $tablet-width) {
        margin-top: 13px;
      }

      @media (max-width: $mobile-width) {
        margin-top: auto;
        margin-bottom: 12px;
      }
    }
  }
}
