.navigation {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    &.active {
      justify-content: flex-start;
      flex-direction: column;
      padding: 20px 15px;
      padding-top: 0;
      position: fixed;
      top: 0;
      right: 0;
      width: 89%;
      height: 100vh;
      background-color: $color-alice-blue;
      overflow-y: scroll;
      overflow-x: hidden;

      .navigation__button {
        top: 13px;
        right: 2px;

        &::before,
        &::after {
          top: 45%;
          left: 25%;
          width: 18px;
          height: 1px;
          background-color: $color-tangaroa;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      .navigation__link {
        color: $color-tangaroa;
        padding: 0;

        svg {
          fill: currentColor;
        }

        &:focus,
        &:hover {
          opacity: 0.7;
        }

        &:active {
          fill: $color-summer-sky;
        }
      }

      .navigation__list {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
        margin-top: 6px;
        margin-left: 12px;
      }

      .navigation__item {
        a {
          color: $color-tangaroa;

          &:focus,
          &:hover {
            opacity: 0.7;
          }

          &:active {
            color: $color-summer-sky;
          }
        }
      }
    }
  }
}

.navigation__link {
  &:focus,
  &:hover {
    opacity: 0.7;
  }
}

.navigation__logo {
  @media (max-width: $tablet-width) {
    padding-top: 0;
  }

  @media (max-width: $mobile-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  svg {
    fill: #f9fbfd;

    &:active {
      fill: $color-summer-sky;
    }

    @media (max-width: $tablet-width) {
      width: 38px;
      height: 20px;
    }

    @media (max-width: $mobile-width) {
      width: 42px;
      height: 22px;
    }
  }

  &--header {
    @media (max-width: $tablet-width) {
      padding-top: 6px;
    }

    @media (max-width: $mobile-width) {
      padding-top: 20px;
    }
  }

  &--footer {
    margin-right: 40px;

    @media (max-width: $tablet-width) {
      margin-right: 24px;
    }

    @media (max-width: $mobile-width) {
      padding-bottom: 18px;
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

.navigation__list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 0 33px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: $tablet-width) {
    gap: 0 24px;
  }

  &--header {
    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  &--footer {
    margin: 0 auto 0 0;
    gap: 0 31px;

    @media (max-width: $tablet-width) {
      gap: 23px;
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      grid-template-columns: 1fr;
      gap: 11px;
      margin-bottom: 22px;
    }
  }
}

.navigation__item {
  max-width: 175px;

  @media (max-width: $tablet-width) {
    max-width: 151px;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
  }

  a {
    user-select: none;
    display: block;
    padding: 10px 0;
    font-family: $ff-montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $color-alice-blue;

    @media (max-width: $tablet-width) {
      font-size: 14px;
      line-height: 17px;
    }

    @media (max-width: $mobile-width) {
      font-size: 18px;
      line-height: 22px;
    }

    &:focus,
    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $color-summer-sky;
    }
  }

  &--footer {
    a {
      @media (max-width: $tablet-width) {
        padding-bottom: 3px;
        padding-top: 3px;
        font-size: 12px;
        line-height: 15px;
      }

      @media (max-width: $mobile-width) {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}

.navigation__button {
  display: none;

  @media (max-width: $mobile-width) {
    position: absolute;
    display: block;
    top: 10px;
    right: -8px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      top: 36%;
      left: 21%;
      width: 24px;
      height: 2px;
      background-color: $color-alice-blue;
      box-shadow: 0 6px 0 0 $color-alice-blue, 0 12px 0 0 $color-alice-blue;
    }
  }
}

.navigation__overlay {
  display: none;
}

.navigation.active ~ .navigation__overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 11%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba($prussian-blue, 0.5);
}
